// $default: #f5640f; // #3897f1
$default: #171e28;
$btn: #0e70b7;
$bghover:#329ae6;

$hover: #0e70b7;
$orange: #f90;
$color-btn-save: #3594cf;
$color-save-hover: #5abaf5;

// Light grey
$lightGrey: #f4f6f9;

$error: red;

