h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, sans-serif;
    color: #444;
    padding: 0;
    margin: 0;
    line-height: 20px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

a {
    @include transition(all 0.3s ease);

    &:hover {
        color: $hover;
    }
}

::-webkit-input-placeholder {
    /* Edge */
    color: #ccc !important;
}

:-ms-input-placeholder {
    /* Internet Explorer */
    color: #ccc !important;
}

::placeholder {
    color: #ccc !important;
}

.content-wrapper {
    margin-top: 40px;
}

.width5 {
    width: 5% !important;
}
.width8{
    width: 8% !important;
}


.width10 {
    width: 10% !important;
}

.width15 {
    width: 15% !important;
}

.width16{
    width: 16% !important;
}

.width20 {
    width: 20% !important;
}

.width25 {
    width: 25% !important;
}

.width30 {
    width: 30% !important;
}

.width31{
    width:31% !important;
}

.width35 {
    width: 35% !important;
}

.width40 {
    width: 40% !important;
}

.width45 {
    width: 45% !important;
}

.width50 {
    width: 50% !important;
}

.width55 {
    width: 55% !important;
}

.width60 {
    width: 60% !important;
}

.width65 {
    width: 65% !important;
}

.width68 {
    width: 68% !important;
}

.width70 {
    width: 70% !important;
}

.width80 {
    width: 80% !important;
}

.width90 {
    width: 90% !important;
}

.width95 {
    width: 95% !important;
}

.width100 {
    width: 100% !important;
}

.widthauto {
    width: auto !important;
}

.w100px {
    width: 100px !important;
    max-width: 100px !important;
}
.w200px {
    width: 200px !important;
    max-width: 200px !important;
}
.w300px {
    width: 300px !important;
    max-width: 300px !important;
}
.w400px {
    width: 400px !important;
    max-width: 400px !important;
}

body {
    .btn-action {
        background-color: $default !important;
        font-size: 14px;
        border: none;
        outline: none;
        @include box-shadow(none);
        @include transition(all 0.3s ease);

        &:focus,
        &:active,
        &:visited,
        &:hover {
            background-color: $hover !important;
            @include box-shadow(none);
        }
    }

    .btn-cancel {
        font-size: 14px;
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: #f3f5f7;
    }
}

.swiper-container{
    &.swiper-container-horizontal{
        .swiper-pagination{
            bottom: 0;
            text-align: right;
        }
    }
    
}